[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
atomicwrites = "*"
attrs = "*"
Brotli = "*"
click = "*"
click-plugins = "*"
cligj = "*"
Cycler = "*"
Cython = "*"
dash = "==2.0.0"
dash-bootstrap-components = "==1.0.0-b3"
dash-core-components = "==2.0.0"
dash-daq = "==0.5.0"
dash-extensions = "==0.0.60"
dash-html-components = "==2.0.0"
dash-renderer = "==1.9.1"
dash-table = "==5.0.0"
Flask = "*"
Flask-Compress = "*"
future = "*"
geopandas = "*"
gunicorn = "*"
importlib-metadata = "*"
itsdangerous = "*"
Jinja2 = "*"
joblib = "*"
kiwisolver = "*"
MarkupSafe = "*"
matplotlib = "*"
more-itertools = "*"
munch = "*"
netCDF4 = "*"
numpy = "*"
nptyping = "*"
orjson = "*"
pandas = "*"
plotly = "*"
pluggy = "*"
py = "*"
pyparsing = "*"
pyproj = "*"
pyshp = "*"
python-dateutil = "*"
pytz = "*"
PyYAML = "*"
pyyaml-include = "*"
retrying = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
Shapely = "*"
six = "*"
tqdm = "*"
wcwidth = "*"
Werkzeug = "*"
xarray = "*"
zipp = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"

[packages.climpyrical]
git = "https://github.com/pacificclimate/climpyrical.git"
editable = true
