[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
atomicwrites = "==1.3.0"
attrs = "==19.3.0"
Brotli = "==1.0.7"
click = "==7.0"
click-plugins = "==1.1.1"
cligj = "==0.5.0"
Cycler = "==0.10.0"
Cython = "*"
dash = "==1.21.0"
dash-bootstrap-components = "==0.12.2"
dash-core-components = "==1.17.1"
dash-daq = "==0.5.0"
dash-html-components = "==1.1.4"
dash-renderer = "==1.9.1"
dash-table = "==4.12.0"
Flask = "==1.1.2"
Flask-Compress = "==1.5.0"
future = "==0.18.2"
geopandas = "==0.6.1"
gunicorn = "==20.0.4"
importlib-metadata = "==0.23"
itsdangerous = "==1.1.0"
Jinja2 = "==2.11.2"
joblib = "==0.13.2"
kiwisolver = "==1.1.0"
MarkupSafe = "==1.1.1"
matplotlib = "*"
more-itertools = "==7.2.0"
munch = "==2.5.0"
netCDF4 = "==1.5.3"
numpy = "==1.17.3"
nptyping = "*"
orjson = "==3.6.0"
pandas = "*"
plotly = "==5.1.0"
pluggy = "==0.13.0"
py = "==1.10.0"
pyparsing = "==2.4.0"
pyproj = "==2.4.1"
pyshp = "==2.1.0"
python-dateutil = "==2.8.1"
pytz = "==2019.3"
PyYAML = "==5.3.1"
retrying = "==1.3.3"
scikit-learn = "*"
scipy = "*"
seaborn = "==0.9.0"
Shapely = "==1.6.4.post2"
six = "==1.13.0"
tqdm = "==4.29.0"
wcwidth = "==0.1.7"
Werkzeug = "==1.0.1"
xarray = "==0.15.1"
zipp = "==0.6.0"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.climpyrical]
git = "https://github.com/pacificclimate/climpyrical.git"
editable = true
