version: '3.2'
services:
  dve-dev-local:
    build:
      context: ../..
      dockerfile: ./docker/dev-local/Dockerfile
    image: pcic/dve-dev-local
    container_name: dve-dev-local
    stdin_open: true
    tty: true
    ports:
      - "30023:5000"
    volumes:
      # Source code
      - type: bind
        source: ../..
        target: /codebase
#        read_only: true
      - type: bind
        source: ./config.yml
        target: /codebase/config.yml
        read_only: true

        # Data files
        # Reconstructions are large (54M) files, and take a long time to load
        # from `/storage/data/...`, so we make local copies of the ones we
        # are using to support development.
      - type: bind
        source: /storage/data/projects/comp_support/dv-explorer/data/model_inputs/
        target: /codebase/dve/data/model_inputs/
        read_only: true
      - type: bind
        source: ../../local-data/reconstructions/
        target: /codebase/dve/data/reconstructions/
        read_only: true
      - type: bind
        source: /storage/data/projects/comp_support/dv-explorer/data/station_inputs/
        target: /codebase/dve/data/station_inputs/
        read_only: true
      - type: bind
        source: /storage/data/projects/comp_support/dv-explorer/data/tables/
        target: /codebase/dve/data/tables/
        read_only: true

networks:
  default:
    external:
      name: pcicbr0
